/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
  position: absolute;
  top: 20%;
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  align-items: left;
  /* left: 40%;
    right: auto;
    justify-content: center; */
  width: 80vw;
  height: 100vh;
}

.container .content {
  display: flex;
  position: absolute;
  width: 360px;
  /* background-color: rgba(0, 0, 0, 0.05) ; */
}

.container .content .Meta {
  position: absolute;
  height: 100px;
  top: 0;
  left: 80%;
}

.container .content .Meta .certificateWrapper {
  box-shadow: 0 0 5px #000;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
}
.container .content .Meta .certificateWrapper img {
  display: block;
}
.container .content .Meta .certificateWrapper .p1 {
  font-family: 'Staatliches', cursive;
  margin: 0;
  position: absolute;
  left: 210px;
  top: 250px;
  font-size: 20pt;
}
.container .content .Meta .certificateWrapper .p2 {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  position: absolute;
  left: 300px;
  top: 230px;
  font-size: 20pt;
}
.container .content .Meta .certificateWrapper .p3 {
  font-family: 'Staatliches', cursive;
  margin: 0;
  position: absolute;
  left: 380px;
  top: 440px;
  font-size: 10pt;
}
.viewCertificate {
  text-align: center;
}

.title {
  position: absolute;
  margin-top: -25%;
}

.loading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black overlay */
  z-index: 1;
}
.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.3); /* Transparent border */
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.certificateWrapper img {
  max-width: none !important;
  height: 500px !important;
}
