/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  position: absolute;

  /* bottom: 50%; */
  left: 25%;
  right: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 100vh;
}
.tileContainer{
  border-radius: 25px;
  background: #ffffff;
  border: 2px solid #1677ff;
  padding: 20px; 
  width: 200px;
  height: 150px; 
  margin-top: 50px; 
  margin-left: 100px;
  text-align: center;
}

.title{
  text-align: center;
}
