/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container{
    position: absolute;
    top: 20%;
    /* bottom: 50%; */
    left: 40%;
    right: auto;
    display: flex; 
    flex-direction: column; 
    width: 100vw;
    height: 100vh;
}

.content{
    position: absolute;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05) ;
}
