.main-login {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background: #51b4d2;
  background: linear-gradient(to right, #dfdddd 50%, #51b4d2 50%);
}

.main-login .login-contain {
  height: 75vh;
  width: 70%;
  background: rgba(236, 236, 236, 0.4);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(236, 236, 236, 0.4)
  );
  border-radius: 1rem;
  margin: 5rem auto;
  -webkit-box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
  box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-login .login-contain .link {
  text-decoration: none;
  color: #4dd6b6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-login .login-contain .link:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  color: gray;
}

.main-login .login-contain .left-side,
.main-login .login-contain .right-side {
  display: flex;
  margin: 2rem 2rem;
  -webkit-box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
  box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
  height: 90%;
  width: 100%;
}

.main-login .login-contain .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-login .login-contain .left-side .img-class {
  height: 4.5rem;
}

.main-login .login-contain .left-side .img-class #img-id {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-login .login-contain .left-side .sign {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-login .login-contain .left-side input {
  display: block;
  border: none;
  height: 2rem;
  width: 70%;
  margin: auto;
  margin-bottom: 1.5rem;
  padding: 0.2rem 1rem;
  font-size: small;
  color: gray;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.main-login .login-contain .left-side input:focus {
  outline: none;
  border: none;
}

.main-login .login-contain .left-side input:hover {
  outline: 0.5px solid #b0e8db;
  -webkit-box-shadow: 2px 2px 9px -2px #b0e8db;
  box-shadow: 2px 2px 9px -2px #b0e8db;
}

.main-login .login-contain .left-side label {
  display: block;
  text-align: left;
  width: 78%;
  margin: auto;
  font-size: small;
  color: gray;
  margin-bottom: 0.5rem;
}

.main-login .login-contain .left-side #sub_butt {
  width: 80%;
  background: #4dd6b6;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-left: 46px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-login .login-contain .left-side #sub_butt:hover {
  -webkit-box-shadow: 4px 3px 9px -1px gray;
  box-shadow: 4px 3px 9px -1px gray;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.main-login .login-contain .right-side .welcomeNote {
  /* position: fixed; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.main-login .login-contain .right-side .welcomeNote h3 {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 62%;
  right: auto;
}

.main-login .login-contain .right-side .welcomeImg {
  object-fit: contain;
  margin: 0rem auto;
  overflow: hidden;
}

.main-login .login-contain .right-side .welcomeImg #wel-img-id {
  width: 112%;
  height: 100%;
}
.toggle-text {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
