@page
@model AspNetCoreVerifiableCredentials.Pages.IssuerModel

@{
    ViewData["Title"] = "Issuer";
}

<div id="wrap">
    <div style="text-align: center;">
        <img id="logo" src="https://bistecglobal.com/wp-content/uploads/2023/01/logo.png" height=200px; />
        <h1 id="idTitle">Verifiable Credential Issuance</h1>
        <h2 id="idSubTitle"></h2>

        <form id="credential-form">
            <label for="courseName">Course Name:</label>
            <input type="text" id="courseName" name="courseName" required><br><br>

            <label for="date">Date:</label>
            <input type="text" id="date" name="date" required><br><br>

            <label for="traineeName">Trainee Name:</label>
            <input type="text" id="traineeName" name="traineeName" required><br><br>

            <label for="trainerName">Trainer Name:</label>
            <input type="text" id="trainerName" name="trainerName" required><br><br>

            <br><br>

            <button type="button" id="issue-credential" class="button bg-nw-purple text-nw-white">Issue Credential</button>
        </form>

        <div id="message-wrapper" class="margin-bottom-75" style="display: none">
            <i class="fas fa-user-check green icon-text-large margin-bottom-25"></i>
            <div id="message"></div>
        </div>

        <button type="button" id="check-result" class="button bg-nw-purple text-nw-white" style="display:none">Check Result</button>
        <button type="button" id="take-selfie" class="button bg-nw-purple text-nw-white" style="display:none">Take Selfie</button>

        <div id="qrcode" style="text-align:center; display:none"></div>
        <br />
        <div id="pinCode" style="display: none"></div>
        <br />
        <img id="selfie" width="240" height="320" style="display:none" />

        <script src="qrcode.min.js"></script>
        <script src="verifiedid.requestservice.client.js"></script>
        <script src="verifiedid.uihandler.js"></script>

        <script>
            var qrcode = new QRCode("qrcode", { width: 150, height: 150 });

            document.getElementById('issue-credential').addEventListener('click', async () => {
                // Get details from form inputs
                const courseName = document.getElementById("courseName").value;
                const date = document.getElementById("date").value;
                const traineeName = document.getElementById("traineeName").value;
                const trainerName = document.getElementById("trainerName").value;

                // Prepare request object with user details
                const requestData = {
                    course_name: courseName,
                    date: date,
                    trainee: traineeName,
                    trainer: trainerName
                };

                try {
                    const response = await fetch('/api/issuer/issuance-request', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(requestData)
                    });

                    if (response.ok) {
                        const jsonResponse = await response.json();
                        console.log('Issuance request response:', jsonResponse);

                        // Generate QR code for the URL in the response
                        qrcode.makeCode(jsonResponse.url);
                        document.getElementById('qrcode').style.display = 'block';
                    } else {
                        console.error('Failed to issue credential:', response.statusText);
                    }
                } catch (error) {
                    console.error('Error issuing credential:', error);
                }
            });
        </script>
    </div>
</div>
