.container{
    position: absolute;
    top: 20%;
    
    /* left: 40%;
    right: auto; */
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.content{
    position: absolute;
   width: 500px;
    /* background-color: rgba(0, 0, 0, 0.05) ; */
}
